services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - go-mod-cache:/go/pkg/mod
    environment:
      - APP_ENV=localstack
      - PORT=3000
      - LOG_LEVEL=INFO
      - AWS_ENDPOINT_URL=http://host.docker.internal:4566
      - AWS_REGION=us-east-1
      - AWS_SECRET_NAME=tf-localstack-db-secret
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped

volumes:
  go-mod-cache:
