services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - go-mod-cache:/go/pkg/mod
    environment:
      - PORT=3000
      - LOG_LEVEL=INFO
      - DB_HOST=host.docker.internal
      - DB_PORT=4510
      - DB_USER=postgres
      - DB_PASSWORD=password # Cambia esto si tu DB local tiene otra clave
      - DB_NAME=cloudflax
      - DB_SSL_MODE=disable # Cambia a 'require' si tu DB local usa SSL
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped

volumes:
  go-mod-cache:
